<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under utveckling - Isabella Gross Alström</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top normal" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Isabella Gross Alström", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li><div class="img-wrapper education"><img src="~/Static/Content/img/education.svg" /></div>@Html.ActionLink("Utbildning", "Education", "Home")</li>
                    <li><div class="img-wrapper workplace"><img src="~/Static/Content/img/workplace.svg" /></div>@Html.ActionLink("Arbetslivserfarenhet", "Workplace", "Home")</li>
                    <li>OBS sidan är under utveckling</li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container body-content">
    @RenderBody()
</div>

<footer class="container-fluid panel-footer">
    <div class="container">
        <p>&copy; @DateTime.Now.Year - Isabella Gross Alström</p>
    </div>
</footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
