@model isabellaresume.Models.ViewModels.IndexViewModel

<h1>Educations</h1>
<table class="table-striped table-responsive table">
    @foreach (var education in Model.Educations)
{
    <tr>
        <td>@education.SchoolName</td>
        <td>@education.FieldOfStudy</td>
    </tr>
}
</table>

<h1>Workplaces</h1>
<table class="table-striped table-responsive table">
    @foreach (var workplace in Model.WorkPlaces)
    {
        <tr>
            <td>@workplace.CompanyName</td>
            <td>@workplace.Position</td>
        </tr>
    }
</table>

<h1>Courses</h1>
<table class="table-striped table-responsive table">
    @foreach (var course in Model.Courses)
    {
        <tr>
            <td>@course.CourseName</td>
            <td>@course.Description</td>
        </tr>
    }
</table>

<h1>Projects</h1>
<table class="table-striped table-responsive table">
    @foreach (var project in Model.Projects)
    {
        <tr>
            <td>@project.ProjectName</td>
            <td>@project.Description</td>
        </tr>
    }
</table>

<h1>Languages</h1>
<table class="table-striped table-responsive table">
    @foreach (var language in Model.Languages)
    {
        <tr>
            <td>@language.LanguageName</td>
            <td>@language.Proficiency</td>
        </tr>
    }
</table>